.input {
  display: inline-flex;
  padding: 2rem 17.0625rem 1.9375rem 1.8125rem;
  align-items: center;
  border: none;
  outline: none;

  font-size: 1.875rem;
  font-family: Montserrat;
  color: rgba(255, 255, 255, 0.846);

  width: 37.5rem;

  background: #282828;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  
}

.input[type=number]::-webkit-inner-spin-button,
.input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input[type=number] {
  -moz-appearance: textfield;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.20);
  font-size: 1.875rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}
