.container {
  min-height: 100vh;
  height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: auto;
}

.verifyInput {
  display: flex;
  align-items: center;
  justify-content: center;
}